@import "../../../stylesheets/variables.scss";

.position {
  // background-color: red;
}

.relative-container {
  position: relative;
  height: 100%;
  width: 100%;
  // background-color: green;
}

.aspect-options {
  position: absolute;
  display: flex;
  margin: 5px;
  width: fit-content;
  height: fit-content;
  .relative-container {
    height: fit-content;
    width: fit-content;
  }
  .icon {
    fill: $primary-colour;
  }
  .icon.aspect-ratio {
    position: relative;
  }
  .aspect-ratio-lock {
    position: absolute;
    fill: rgb(246, 101, 23);
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    .icon {
      cursor: pointer;
    }
  }
}

.resize {
  position: absolute;
  margin: 1px;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: 200ms;
  .icon {
    stroke: rgb(255, 255, 255);
  }
  &:hover {
    .icon {
      stroke: rgb(134, 47, 255);
    }
  }
}

.canvas-image-controls {
  height: 100%;
  width: 100%;
  position: absolute;
}
