.main-auth {
  position: relative;
  width: 60%;
  height: 40rem;
  min-width: 500px;
  padding: 3rem 3rem;
  margin-top: 200px;
  margin-bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

// As opposed to auth containers that may pop-up when trying to post a comment while not logged in

.login-options {
  display: grid;
  grid-template-rows: 6rem repeat(4, 4rem);
  align-items: center;
  justify-items: center;
}

.magic-login {
  position: relative;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
  p,
  label {
    font-size: 1.4rem;
  }
  form {
    display: flex;
    flex-direction: column;
    Button {
      // position: relative;
      margin-top: 1rem;
      align-self: center;
    }
  }
  Button.back {
    position: absolute;
  }
  .email-sent {
    .email {
      color: rgb(32, 91, 255);
    }
  }
  .resend {
    font-size: 0.8em;
    color: rgb(32, 91, 255);
    text-decoration: underline;
    cursor: pointer;
  }
}

.text-container {
  margin-bottom: 50px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.534);
  cursor: default;
}

button {
  &.auth {
    font-size: 1.2rem;
    box-shadow: none;
    width: 13rem;
    height: 2.5rem;
  }
  &.local {
    background-color: green;
  }
  &.facebook {
    background-color: #5b7bd5;
  }
}
