.container {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 3rem 3rem;
  width: 60%;
  height: 40rem;
  min-width: 500px;
  margin-top: 200px;
  margin-bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px rgba(0, 0, 0, 0.062);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.login-options {
  grid-template-rows: 6rem repeat(4, 4rem);
}

.text-container {
  margin-bottom: 50px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.534);
  cursor: default;
}

button {
  &.auth {
    font-size: 1.2rem;
    box-shadow: none;
    width: 13rem;
    height: 2.5rem;
  }
  &.local {
    background-color: green;
  }
  &.facebook {
    background-color: #5b7bd5;
  }
}
