:root {
}

.editor {
  position: relative;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
}

.editor > .header {
  position: relative;
  padding: 0;
}

input.blog-title {
  width: 500px;
  height: 3rem;
  font-size: x-large;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.062);
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  transition: all ease 0.5s;
  color: rgba(0, 0, 0, 0.699);
  font-weight: bold;
  font-family: inherit;
}

input.blog-title:focus {
  outline: rgba(85, 159, 255, 0.315) solid 1px;
  box-shadow: 0 0 5px rgba(81, 156, 255, 0.589);
  color: rgba(0, 119, 255, 0.699);
}

input.blog-title:hover {
  outline: 1px solid rgba(85, 159, 255, 0.315);
  box-shadow: 0 0 5px rgba(81, 156, 255, 0.589);
  color: rgba(0, 119, 255, 0.699);
}

input.blog-title::placeholder {
  color: rgba(0, 0, 0, 0.178);
}

input.blog-title:hover::placeholder {
  color: rgba(10, 145, 255, 0.301);
}

.editor > .header > button {
  position: absolute;
  height: 40px;
  width: 200px;
  color: rgba(1, 90, 255, 0.74);
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  border: none;
  outline: rgba(0, 89, 255, 0.329) 1px solid;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: 20px;
  font-family: inherit;
}

.editor > button:hover {
  box-shadow: 0 0 5px rgba(8, 115, 255, 0.315);
}
.editor > button:active {
  transform: scale(0.98);
}
