@import "variables.scss";
.dashboard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 3rem;
    align-self: center;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  button {
    font-family: inherit;
    width: 15rem;
    height: 10rem;
    margin: 2rem;
    border: none;
    padding: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.156);
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    transition: opacity 300ms;
    &#new-album {
      background: linear-gradient(0deg, $primary-colour 0%, rgb(255, 226, 40) 100%);
    }
    &#new-blog {
      background: linear-gradient(0deg, $primary-colour 0%, rgb(0, 247, 255) 100%);
    }
    &#view-profile {
      background: linear-gradient(0deg, $primary-colour 0%, rgb(255, 82, 146) 100%);
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
