.albums {
  align-self: center;
  display: flex;
  width: 800px;
  flex-direction: column;
  h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.album.grid {
  display: grid;
  gap: 2rem;
}

.album.item {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(228, 228, 228);
  border-radius: 1rem;
  width: 100%;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  &.new {
    font-size: 1.5rem;
    .icon {
      fill: rgb(128, 0, 255);
    }
  }
  padding: 1rem;
}

.album-view {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 250px;
  .display {
  }

  .image-bank {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: min-content 1fr;
    // border: solid 2px rgba(0, 0, 0, 0.114);
    .ui {
    }
    .tools {
    }
  }
}
