.image-gallery {
  position: relative;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  display: grid;
  gap: 0px 30px;
  grid-auto-rows: 1px;
  margin: 0;
  overflow-y: hidden;
}

.image-card {
  width: 100%;
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  transition: transform ease 0.5s;
}

.image-card:hover {
  transform: scale(1.02);
}

.btn-edit-gallery {
  text-decoration: none;
  box-sizing: border-box;
  border-style: none;
  font-family: inherit;
  width: 175px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 40px;
  text-align: center;
  background-color: blueviolet;
  margin: 0;
  cursor: pointer;
}

button.btn-gallery-refresh {
  background-color: rgb(105, 196, 3);
  border: none;
  color: #fff;
  padding: 10px 50px;
  font-family: inherit;
  font-size: 16px;
  display: block;
  margin-top: 10px;
}

.gallery.error {
  font-size: 20px;
  padding: 10px 0px;
}

.gallery-select {
  position: absolute;
  color: #fff;
  right: 10px;
  top: 10px;
  border: none;
  border-radius: 3px;
  background-color: rgba(245, 90, 29, 0.678);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.image-card.active {
  border: rgb(117, 43, 255);
  border-style: solid;
  border-width: 7px;
}

.fullscreen-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.897);
  z-index: 30;
}

.image-viewer {
  display: flex;
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: white solid 2px;
  background-color: black;
}

.image-viewer > img {
  max-width: 100%;
  max-height: 100%;
}

.comment-container {
  background-color: white;
  border: grey;
  flex-grow: 1;
}

.new-comment {
  width: 100%;
  background-color: white;
  flex-grow: 1;
  border: solid 1px black;
}
