.container-3d {
  background-color: rgba(255, 0, 0, 0.192);
  height: 100vh;
  perspective: 600px;
  transform-style: preserve-3d;
}

section.landing > .container > .item {
  position: fixed;
  width: 600px;
  margin: 10px;
  backface-visibility: visible;
  background-size: cover;
  transition: all ease 1.4s;
  transform-origin: center;
  overflow: visible;
  transform: none;
}

.item1.dart {
  overflow: visible;
}

.item > .card {
  height: 100%;
  background-color: royalblue;
  background-size: cover;
  transition: all ease 0.3;
}

.item1.dart > .card {
  transform: rotateZ(2turn);
  opacity: 0.5;
}

section.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.landing > .container {
  display: flex;
  flex-direction: row;
  width: 80vw;
}

.landing > .container > .item {
  flex-grow: 1;
  font-size: 2rem;
  height: fit-content;
}
