@import "variables.scss";
* {
  margin: 0;
}

body {
  font-family: "Antonio", sans-serif;
  font-weight: 300;
}

p {
  margin-bottom: 1rem;
}

input {
  font: inherit;
  box-sizing: border-box;
  height: 3.5rem;
  font-size: 1.4rem;
  border: solid 1px rgba(0, 0, 0, 0.051);
  outline: none;
  padding: 0.5rem;
  transition: all 200ms;
  &:focus {
    border: solid 2px rgb(236, 193, 0);
    border-radius: 2px;
  }
}
input[type="email"]:not(:placeholder-shown):invalid:not(:focus) {
  color: red;
}

button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 14rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: $primary-colour;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 200ms;
  cursor: pointer;
  span {
    height: fit-content;
    padding-bottom: 3px;
  }
  &.button-image {
    grid-template-columns: min-content 1fr;
    svg {
      vertical-align: bottom;
      fill: white;
    }
  }
  &.back {
    display: grid;
    width: 3rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    justify-content: center;
    .icon {
      fill: white;
    }
  }
  &:focus-visible {
    outline: solid 1px rgb(76, 0, 255);
  }
}

.view {
  height: 100vh;
  width: 100vw;
  .page {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr;
    .main {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.container {
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.062);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.err-msg {
  color: rgb(222, 44, 0);
}

.link {
  // font-size: 0.8em;
  // vertical-align: sub;
  color: rgb(0, 84, 194);
  // text-decoration: underline;
  cursor: pointer;
}
