@import "variables.scss";
* {
  margin: 0;
}

body {
  font-family: "Antonio", sans-serif;
  font-weight: 300;
}

p {
  margin-bottom: 1rem;
}

input {
  font: inherit;
  box-sizing: border-box;
  height: 3.5rem;
  font-size: 1.4rem;
  border: solid 1px rgba(0, 0, 0, 0.051);
  outline: none;
  padding: 0.5rem;
  transition: all 200ms;
  &:focus {
    border: solid 2px rgb(236, 193, 0);
    border-radius: 2px;
  }
}
input[type="email"]:not(:placeholder-shown):invalid:not(:focus) {
  color: red;
}

button {
  position: relative;
  display: grid;
  box-sizing: border-box;
  padding: 0;
  align-items: center;
  width: 14rem;
  height: 3rem;
  &:not(.icon-only, .text-only) {
    grid-template-columns: min-content 1fr;
  }
  .icon-only,
  .text-only {
    grid-template-columns: 1fr;
  }

  // max-height: 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: inherit;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: $primary-colour;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms;
  cursor: pointer;
  &.text {
    width: 11rem;
  }
  span {
    display: inline-block;
    height: fit-content;
  }
  .text {
    min-width: fit-content;
    white-space: nowrap;
  }
  .button.icon {
    display: flex;
    justify-content: center;
    svg {
      fill: white;
    }
  }
  &.back {
    display: grid;
    width: 3rem;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    justify-content: center;
    .icon {
      fill: white;
    }
  }
  &:focus-visible {
    outline: solid 1px rgb(76, 0, 255);
  }
  &.small {
    width: 3rem;
    height: 3rem;
  }
  &.verysmall {
    width: 2rem;
    height: 2rem;
  }
}

.view {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr;
  .main {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.container {
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.062);
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.err-msg {
  color: rgb(222, 44, 0);
}

.link {
  color: rgb(0, 84, 194);
  cursor: pointer;
}

.top {
  position: absolute;
  top: 0;
  margin: 0.5rem;
}

.right {
  position: absolute;
  right: 0;
  margin: 0.5rem;
}

.hover {
  opacity: 0;
  transition: 200ms;
  &:hover {
    opacity: 1;
  }
}
