@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");

body {
  font-family: "Antonio", sans-serif;
}

.header {
  font-size: 25px;
  width: 100%;
  display: flex;
  position: relative;
  left: 0;
  border-bottom: thin solid rgb(231, 231, 231);
  padding-top: 40px;
}

.title {
  display: inline;
  text-align: left;
  padding: 0;
  margin: 0;
  cursor: default;
}

.nav-bar {
  text-align: right;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: 3px;
}

.nav-item {
  font-size: 25px;
  color: rgb(73, 73, 73);
  text-decoration: none;
  margin-left: 30px;
}

.profile {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 0;
  top: 0;
  gap: 5px;
  font-size: 20px;
}

img.profile {
  background-color: rgb(44, 44, 44);
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 0px;
  border-radius: 3px;
}

.logout {
  position: relative;
  height: 30px;
}

button.logout {
  position: relative;
  display: inline;
  height: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  width: 100px;
  border-radius: 3px;
  border: none;
  background-color: rgb(145, 109, 187);
}

.profile .details {
  font-size: 20px;
}
