// Main positional properties for these lie in Main.scss (over-arching grid structure)

@import "variables.scss";
.toolbar-placement {
  position: relative;
  width: $toolbar-width-collapsed;
  transition: width 500ms ease-in-out;
  &.active {
    width: $toolbar-width;
    p {
      // transition: opacity 500ms;
      opacity: 1;
    }
  }
}

.toolbar {
  display: grid;
  grid-template-columns: 1fr $toolbar-width-collapsed;
  grid-template-rows: $toolbar-width-collapsed;
  grid-auto-rows: $toolbar-width-collapsed;
  position: absolute;
  color: white;
  font-size: 2rem;
  background: linear-gradient(138deg, $primary-colour 1%, rgb(249, 85, 255) 51%);
  width: $toolbar-width;
  height: 100%;
  right: 0;
  transition: all 0.5s;
  cursor: pointer;
  // &.active {
  //   // color: red;
  //   width: $toolbar-width;
  //   grid-template-columns: 1fr $toolbar-width-collapsed;
  // }
  .menu {
    grid-column: 2;
    display: block;
    justify-self: center;
    align-self: center;
    .icon {
      fill: white;
    }
  }
  p {
    transition: opacity 500ms ease-out 300ms;
    opacity: 0;
    align-self: center;
    margin-left: 1rem;
  }
  .icon {
    justify-self: center;
    align-self: center;
    fill: white;
  }
}

.logout {
  border: none;
  margin: 0.5rem 1rem;
}
