.canvas {
  position: relative;
  align-self: center;
  border: solid 1px rgba(0, 0, 0, 0.145);
  min-height: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.122);
  .position {
    & > .image {
      height: 100%;
      background-color: antiquewhite;
    }
    & > .text {
      height: 100%;
      background-color: aliceblue;
    }
  }
}
