.image-bank {
  border: solid 3px rgba(185, 144, 255, 0.131);
  position: relative;
  height: 17rem;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 3rem 14rem;
  background-color: white;
  transition: height 200ms;
  overflow: hidden;
  &.collapsed {
    height: 3rem;
  }
  .header {
    height: 3rem;
  }
  .ui {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1rem;
    box-sizing: border-box;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    .controls {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
    }
    .images {
      overflow-y: scroll;
      overscroll-behavior-inline: contain;
      scroll-snap-type: y mandatory;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
  }
}
